/* Genearal styling */

body {
    background-image: url(../images/forest_background.jpg);
    background-color: darkolivegreen;
    background-size: cover;
}

.hide {
    display: none;
}

/* Style for the header */
#page-header {
    text-align: center;
    height: 50xp;
    font-size: 20px;
    color: blanchedalmond;
}

/* Style for game area */
#game-area {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(156, 202, 156, 0.8);
}

#question-row {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

#picture-frame {
    width: 70%;
    margin: 0 auto;
    
}

#picture-frame img {
    max-width: 100%;
    margin: 0 auto;
}

#answer-frame {
    align-items: center;
    display: flex;
}
.answer-button {
    margin: 10px auto;
    background-color: darkolivegreen;
    border-radius: 10px;
    padding: 0.5rem;
    width: 33%;
}

#next-button-frame {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

#ask-question {
    margin: 0 auto;
    background-color: darkolivegreen;
    border-radius: 10px;
    padding: 0.5rem;
    width: 33%;
    font-size: large;
}

/* Styling for scoreboard */
#score-frame {
    display: inline-block;
    margin: 15px 30%;
    font-size: 1.2rem;
}

#correct-scores {
    color: green;
}

#incorrect-scores {
    color: red;
}

/* Media queries */

@media screen and (max-width: 950px) {
    #game-area {
        width: 70%;
        
        }
    
    }